<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title th:text="Museo"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header th:fragment="menu">
    <nav>
        <ul class="menu">
            <li><a class="elementiMenu" th:href="@{/visualizzaOpere}">Opere</a></li>
            <li><a class="elementiMenu" th:href="@{/collezioni}">Collezioni</a></li>
            <li><a class="elementiMenu" th:href="@{/visualizzaArtisti}">Autori</a></li>
        </ul>
    </nav>
    <a href="index#blocco-contatti"> <button>Contatti</button></a>
</header>

<footer th:fragment="amministratore(admin)">
    <ul id="fondo-testo">
        <li th:if="${admin}"><a href="/default">Home</a> </li>
        <li th:unless="${admin}"><a href="/">Home</a></li>
        <li> realizzato da Daniele Pica e Giorgio Poggini</li>
        <li th:if="${admin}"><a th:href="@{/logout}">Logout</a></li>
        <li th:unless="${admin}"><a th:href="@{/login}">Effettua login</a></li>
        <li><a th:href="@{/register}"> Registrati </a></li>
    </ul>
</footer>

<div th:fragment="operaDaVisualizzare(opera)">
    <div id="blocco-opera">
        <div id="blocco-foto-opera">
            <img th:src="@{${opera.photosImagePath}}"/>
        </div>
        <div id="blocco-testo-opera">
            <h1 th:text="${opera.titolo}">Nome Opera</h1>
            <p th:text="${opera.descrizione}"></p>
        </div>
    </div>
</div>

<div th:fragment="artistaDaVisualizzare(artista)"> 
    <div id="blocco-artista">
        <img th:src="@{${artista.photosImagePath}}"/>
        <a th:href="@{'/artista/' + ${artista.id}}" th:text="${artista.nome} +' '+${artista.cognome}"></a>
        <p th:text="'Nato a ' + ${artista.luogoNascita} + ' nel ' + ${artista.dataNascita}"></p>
        <p th:text="'Morto a ' + ${artista.luogoMorte} + ' nel ' + ${artista.dataMorte}"></p>
    </div>
</div>

<div th:fragment="collezioneDaVisualizzare(collezione)">
    <div id="blocco-collezione">
        <div id="blocco-testo-collezione">
            <a th:href="@{'/collezione/' + ${collezione.id}}" th:text="${collezione.nome}">Nome Collezione</a>
            <p th:text="${collezione.descrizione}"></p>
        </div>
        <div id="blocco-slider-collezioni">

        </div>
    </div>
</div>
</body>
</html>