<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="Museo"></title>
</head>
<body>
	<header th:fragment="menu">
		<nav>
                <ul class = "menu">
                	<li><a class="elementiMenu" th:href="@{/visualizzaOpere}">Opere</a> </li>
                	<li> <a class="elementiMenu" href="#">Collezioni</a></li>
                	<li> <a class="elementiMenu" th:href="@{/visualizzaArtisti}">Autori</a></li>
               	 </ul>
         </nav>
         <button>Contact</button>
	</header>
	
<footer th:fragment="fondo(home)">
		<a th:href="@{${home}}">Home</a>
		<h3>realizzato da Daniele Pica e Giorgio Poggini </h3>
            
	</footer>
</body>
</html>