<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <header >
            <nav> 
                <div id = "menu">
                <button>Autori</button>
                <button>Collezioni</button>
                <button>Opere</button>
                </div>
            </nav>
        </header>

        <div id="Sfondo">
            <h1>MUSEO</h1>
        </div>

        <div id="bloccocentrale">
            <div id="contenutoprincipale">
                    <span>ciao</span>
            </div>
        </div>

        <div id="bloccoinformazioni">Prova</div>
        <footer>
            Sito realizzato da Daniele Pica e Giorgio Poggini
        </footer>
</body>
</html>