<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href= "@{/css/style.css}"rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <header >
            <nav> 
                <div id = "menu">
                <button>Autori</button>
                <button>Collezioni</button>
                <button>Opere</button>
                </div>
            </nav>
        </header>

        <div id="Sfondo">
                <a id="Titolo" href="#bloccocentrale">Museo</a>
        </div>

        <div id="bloccocentrale">
            <div id="contenutoprincipale">
                    <span>ciao</span>
            </div>
        </div>

        <div id="bloccoinformazioni">Prova</div>
        <footer>
            <h3>realizzato da Daniele Pica e Giorgio Poggini </h3>
            <a href="aggiungiOpera"> Inserisci Opera </a>
            
        </footer>
</body>
</html>