<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>


<div id="Sfondo">
    <header th:replace="fragments/base.html :: menu"></header>
    <a id="Titolo" href="#bloccocentrale">Louvre</a>

</div>

<div id="bloccocentrale">
    <div id="blocco-descrizione">
        <p id="descrizione-museo">
            Il museo del Louvre (in francese Musée du Louvre, AFI: /myze dy luvʁ/) di Parigi, in Francia,
            è uno dei più celebri musei del mondo e il primo per numero di visitatori (9,6 milioni nel 2019).
            Il museo ha preso il nome dal palazzo che lo ospita. Originariamente era una fortezza, costruita alla fine
            del XII secolo
            durante il regno del re capetingio Filippo II,[3] nei rifacimenti successivi fu sede reale e governativa.
            La conformazione attuale del palazzo origina dai lavori ordinati da Carlo V di Francia nella seconda metà
            del XIV secolo.
            Fu la sede effettiva della monarchia francese fino al 1682, quando Luigi XIV si trasferì nella Reggia di
            Versailles, rimase comunque la sua sede formale fino al termine dell'Ancien Régime nel 1789.
            Fu il governo rivoluzionario a dare piena attuazione a progetti già avviati di trasformazione in museo,
            inaugurandolo come tale nel 1793, anche se il palazzo continuò ad ospitare enti governativi
            fino agli anni novanta.
        </p>
    </div>
    <div id="blocco-pianta-museo">
        <img src="../images/pianta-louvre.jpg" th:src="@{/images/pianta-louvre.jpg}" id="pianta-louvre"/>
    </div>
</div>
<div id="blocco-contatti">

    <div id="testo-contatti">
    <h1> Contatti </h1>
        <div class="textbox">
            <a href="https://www.louvre.fr/en">Sito ufficiale</a>
        </div>
        <div class="textbox">
            <span>Numero di telefono: 3459037667</span>
        </div>
        <div class="textbox">
            <span>Email: museolouvre@gmail.com</span>
        </div>
    </div>
    <div id="blocco-mappa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.8741023651437!2d2.3354553155550852!3d48.860611079287615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d877937b0f%3A0xb975fcfa192f84d4!2sMuseo%20del%20Louvre!5e0!3m2!1sit!2sit!4v1625182952058!5m2!1sit!2sit"
                width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
</div>
<footer th:replace="fragments/base.html :: amministratore(admin = ${admin})">

</footer>
</body>
</html>