<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>
        <header th:replace= "fragments/base.html :: menu"></header>

        <div class="Sfondo">
                <a class="Titolo-menu" href="#bloccocentrale">Opere</a>
        </div>

        <div id="bloccocentrale">
            <div id="contenutoprincipale">
                   <div th:each="opera : ${opere}" >
                        <div th:replace="fragments/base.html :: operaDaVisualizzare(opera = ${opera})">

                        </div>
                   </div>
                    
            </div>
        </div>

        <footer th:replace="fragments/base.html :: amministratore(admin = ${admin})">
           </footer>
</body>
</html>