html {
    scroll-behavior: smooth;
}

nav {
    height: 40px;
    background-color: #B8860B;
    color: white;

}
#menu {
    display: flex;
    justify-content:flex-end;
    margin-right: 200px;
}

button:hover{
    background: black;
    color: white;
}

#menu > button {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    background-color: transparent;
    border: none;
    transition: all .6s;
    
}




#Sfondo {
    height: 500px;
    background-image: url(louvre.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    text-align: center;
}
body {
    margin: 0px;
}

#Titolo {
    line-height: 500px;
    color: white;
    font-size: 100px;
    text-decoration: none;
}

#bloccocentrale {
    height: 500px;
    display: flex;
    justify-content: flex-start;
    border-radius: 5%;
}

#contenutoprincipale {
    background-color: white;
    margin-right: 1%;
    margin-top: 1%;
    margin-left: 1%;
    -moz-border-radius-topleft: 5%;
    -moz-border-radius-topright: 5%;
}


#bloccoinformazioni {
    background-color: green;
    height: 300px;
    -moz-border-radius-bottomleft: 5%;
    -moz-border-radius-bottomright: 5%;
    -moz-border-radius-topright: 5%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

footer {
    background-color: darkviolet;
    height: 100px;
    color: white;
    margin: 1%;
    border-radius: 5%;
}


