<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>
        <header th:replace= "fragments/base.html :: menu"></header>

        <div id="Sfondo">
                <a id="Titolo" href="#bloccocentrale">Museo</a>
        </div>

        <div id="bloccocentrale">
            <div id="contenutoprincipale">
                   <div th:each="artista : ${artisti}">
                    <div th:text="${artista.nome}">Nome artista  </div>
                    <div th:text="${artista.cognome}">Cognome artista  </div>
                    <div th:text="${artista.nazionalita}">Nazionalita artista  </div>

                    <div th:text = "${artista.photosImagePath}"> Percorso foto </div>
                   <img th:src="@{${artista.photosImagePath}}" width="100" height="200"/>
                   </div> 
                    
            </div>
        </div>

        <div id="bloccoinformazioni">Prova</div>
        <footer th:replace ="fragments/base.html :: fondo(home='/default')">
           </footer>
</body>
</html>