<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>
        <nav> Menu amministratore </nav>
         <form th:action = "@{/aggiungiCollezione}" method="post" th:object = "${collezione}">
          <div>
              <div>
                  <span>Nome:</span>
                  <span><input type="text" th:field="*{nome}" /></span>
              </div>
              <div>
                  <span>Descrizione:</span>
                  <span><input type="text" th:field="*{descrizione}" /></span>
              </div>
              <div>
                  <span><button type="submit">Invio</button></span>
              </div>
          </div>
      </form>
        <div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
   		
        <footer th:replace ="fragments/base.html :: fondo(home='/default')">
           </footer>
</body>
</html>
