<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>

     <div class = "blocco1">
 <header th:replace= "fragments/base.html :: menu"></header>
        <div class="login-box">
		<h1>Elimina Artista</h1>
      <form th:action = "@{/eliminaArtista}" method="post" th:object = "${artista}">
      <span>Scegli l'artista da eliminare</span>
          <div class="textbox">
          <span>Artista  </span>
            <select name="Artista" th:field="*{nomeCompleto}">
                        <option th:each="art : ${artisti}" th:text="|${art.nome} ${art.cognome}|" th:value="|${art.nome} ${art.cognome}|"   ></option>
                  </select>
              </div>

              <div>
                  <span><button type="submit">Invio</button></span>
              </div>
      </form>
      </div>
      </div>
      <footer th:replace ="fragments/base.html :: fondo('/default')"></footer>

</body>
</html>