<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>
        <nav> Menu amministratore </nav>
        <a href="aggiungiOpera"> Inserisci Opera </a>
        <a href="aggiungiCollezione"> Nuova Collezione </a>
        <a href="eliminaCollezione"> Elimina collezione </a>
        <a href="eliminaOpera"> Elimina opera </a>

        
        <div>
			<a th:href="@{/logout}">Logout</a>
   		</div>
   		
        <footer th:replace ="fragments/base.html :: fondo(home='/default')">
           </footer>
</body>
</html>

