<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles">
</head>
<body>
<div class="blocco1">
    <header th:replace="fragments/base.html :: menu"></header>
    <a class="Titolo-menu" href="#bloccocentrale">Menu Amministratore</a>

    <div class="bloccoOperazioni">
        <a href="aggiungiOpera"> Inserisci Opera </a>
        <a href="eliminaOpera"> Elimina opera </a>
        <a href="aggiungiCollezione"> Nuova Collezione </a>
        <a href="eliminaCollezione"> Elimina collezione </a>
        <a href="aggiungiArtista"> Aggiungi artista </a>


    </div>

    <div class="logOut">
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<footer th:replace="fragments/base.html :: amministratore(admin = ${admin})">
</footer>
</body>
</html>

