<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>

    <div class = "blocco1">
 <header th:replace= "fragments/base.html :: menu"></header>
        <div class="login-box">
		<h1>Aggiungi Opera</h1>
      <form th:action = "@{/aggiungiOpera}" method="post" th:object = "${opera}" enctype="multipart/form-data">
              <div class = "textbox">
                  <span>Nome</span>
                  <span><input type="text" th:field="*{titolo}" /></span>
              </div>
              <div class = "textbox">
                  <span>Anno</span>
                  <span><input type="text" th:field="*{anno}" /></span>
              </div>
              <div class = "textbox">
                  <span>Descrizione</span>
                  <span><input type="text" th:field="*{descrizione}" /></span>
              </div>
              <div class = "textbox">
                  <span>Collezione</span>
                  <select name="Collezione" th:field="*{nomeCollezione}">
                        <option th:each="coll : ${collezioni}" th:text="${coll.nome}" th:value="${coll.nome}"   ></option>
                  </select>
              </div>
              <input type ="file" name = "immagine" accept="image/png, image/jpeg"/>
             
              <div>
                  <span><button type="submit">Invio</button></span>
              </div>
      </form>
        </div>
    </div>
        
      <footer th:replace ="fragments/base.html :: fondo('/default')"></footer>

</body>
</html>