<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragments/base.html :: headerfiles">
</head>
<body>

     <nav> Menu amministratore </nav>
      <form th:action = "@{/aggiungiOpera}" method="post" th:object = "${opera}">
          <div>
              <div>
                  <span>Nome:</span>
                  <span><input type="text" th:field="*{titolo}" /></span>
              </div>
              <div>
                  <span>Anno:</span>
                  <span><input type="text" th:field="*{anno}" /></span>
              </div>
              <div>
                  <span>Descrizione:</span>
                  <span><input type="text" th:field="*{descrizione}" /></span>
              </div>
              <div>
                  <select name="Collezione" th:field="*{nomeCollezione}">
                        <option th:each="coll : ${collezioni}" th:text="${coll.nome}" th:value="${coll.nome}"   ></option>
                  </select>
              </div>

              <div>
                  <span><button type="submit">Invio</button></span>
              </div>
          </div>
      </form>
      <footer th:replace ="fragments/base.html :: fondo('/default')"></footer>

</body>
</html>